GOOGLE_GENAI_USE_VERTEXAI=FALSE
NEBIUS_API_KEY=v1.CmMKHHN0YXRpY2tleS1lMDBxMXgwMnIzeGc0a2V3YjcSIXNlcnZpY2VhY2NvdW50LWUwMG1jMjJtN2VzeHRkamFzejILCPGl_MgGEIeHpzg6DAjuqJSUBxCA3vziAUACWgNlMDA.AAAAAAAAAAETuwRCDfxZOALKo7aXx2ejBFtNdq-1lExpeYEzcSvF_rpveH5qzPQCXPRJF01IFYMsuaSdkLSt9yN7O0aAu_AN